body {
    font-family: "Raleway", sans-serif;
    background-color: rgb(26, 36, 29);
    
  }
  .subtitle{
    color: white;
    text-align: center;
    font-size: 50px;
  }
  h2 {
    color: #eb8b31;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
  }
  h3{
    color: white;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
  }
  
   h1{
    text-align: center;
   
   }
   p{
    text-align: center;
   }
  #Hero-Section {
    background-image: url(../imgs/yofondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  
  }
  

  
  
  #Contacto form label {
    font-weight: 700;
    color: #eb8b31;
  
   
    
  }
  
  @media (max-width: 768px) {
    #Contacto form label {
      font-weight: 401;
      background-color: black;
    }
  
    .navbar-brand{
      width: 100px;
    }
  
  }
 h5{ 
text-align: center;
 }
  a{
    color: #eb8b31;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    text-align: center;
    padding-left: 1em;
  }
  
  .navbar-brand img{
    
    width: 82px;
    
    }
    
    
    
    .card{
    
    margin: 0 auto;
    
    }
    
    
    
    .text-secondary{
    
    font-weight: 81;
    
    color: #707070;
    
    margin: 0;
    
    }
    
    
    
    .text-secondary-2 {
    
    font-size: 13px;
    
    color: #707070;
    
    font-weight: 80;
    
    }
    
    
    
    .text-success{
    
    font-size: 20px;
    
    font-weight: 62px;
    
    }
    
    
    
    .precios{
    
    text-align: center;
    
    }
    
    
    
    form{
    
    margin: 0 auto;
    
    }
    
    
    
    hr {
    
    margin-top: 0;
    
    margin-bottom: 0;
    
    }
    
    
    
    footer{
    
    text-align: center;
    
    }
    
    
    
   
    
   
    
    footer {

    }
    
    footer p{
    
    color:#707070;
    
    font-weight:100;
    
    }
    
    
    
 
  


  