@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;700&family=Roboto:wght@300;500&display=swap');body{

    Font-family: 'Roboto', sans-serif;
    
    }
    
    
    
    .navbar-brand img{
    
    width: 82px;
    height: 25pt;
    
    }
    
    
    
    .card{
    
    margin: 0 auto;
    
    }
    
    
    
    .text-secondary{
    
    font-weight: 80;
    
    color: #707070;
    
    margin: 0;
    
    }
    
    
    
    .text-secondary-2 {
    
    font-size: 13px;
    
    color: #707070;
    
    font-weight: 80;
    
    }
    
    
    
    .text-success{
    
    font-size: 20px;
    
    font-weight: 62px;
    
    }
    
    
    
    .precios{
    
    text-align: right;
    
    }
    
    
    
    form{
    
    margin: 0 auto;
    
    }
    
    
    
   
    
    
    footer{
    
    text-align: center;
    
    }
    
    hr{
        margin: left 0%; 
        margin-right: 0%;
    }
    
    footer img{
    
    width: 82pt;
    
    padding-top: 24pt;
    
    }
    
    
    
    footer p{
    
    color:#707070;
    
    font-weight:100;
    
    
    }
    
    
    
 